
$arabreakpoint-screen:1600px;
$arabreakpoint-tablet:990px;
$arabreakpoint-mobile:500px;
$arabreakpoint-small:200px;


*{
    box-sizing: border-box;
}
.aramain__section{
    font-family: 'El Messiri', sans-serif;
    padding: 90px;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #232929 0%,
        #232929 60%,
        whitesmoke 60%,
        whitesmoke 100%,
    );
}

 .aramain__container{
    position: relative;
    height: 600px;
}

.araimg__row{
    height: 100%;
}
.araimg__col{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../Assets/bannerPicture.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}
.aratitle__col{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../Assets/bannerPicture-2.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

.aratitle__div{
    text-align: right;
    color: white;
    position: absolute;
    top: 30%;
    right: 40px;
    z-index: 10;
}
.arabtn{
    outline:solid #424444 ;
}
.aracard__row{
    position: relative;
    right: 12px;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    top: -120px;
}

.aracard__component{
    text-align: center;
    background-color: white;
    width: 250px;
    margin: 3px;
    height: 200px;
    overflow: hidden;
}
@media (min-width: $arabreakpoint-small){
    .aracard__row{
        top: -250px;
    }
    .aracard__component{
        img{
            width: 10px;
        }
        position: relative;
        left: 13%;
        width: 200px;
        height: 140px;
        font-size: xx-small;
    }

}
@media (min-width: $arabreakpoint-mobile){
    .aracard__row{
        top: -200px;
    }
    .aracard__component{
        img{
            width:60px
        }
        width: 300px;
        height: 150px;
        font-size: x-small;
    }

}

@media (min-width: $arabreakpoint-tablet){
    .aracard__component{
        width: 250px;
        height: 250px;
        font-size: small;
    }
}
@media (min-width: $arabreakpoint-screen){
    .aracard__component{
        width: 400px;
        height: 300px;
    }
}

.aracard__col{
    margin: auto;
    float: none;
}